@model IEnumerable<ConcessionariaApp.Application.Dtos.Vendas.VeiculoVendaDTO>

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
<div class="container mt-5">
    <h3>Lista de Veículos em Venda</h3>
    <table class="table table-striped table-bordered" id="tabelaVeiculo">
        <thead>
            <tr>
                <th data-bs-toggle="tooltip" data-bs-placement="top" title="O modelo do veículo.">Modelo</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" title="Ano em que o veículo foi fabricado.">Ano de Fabricação</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" title="Preço do veículo.">Preço</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" title="Fabricante do veículo.">ID do Fabricante</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" title="Tipo de veículo, como SUV ou Sedan.">Tipo de Veículo</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" title="Descrição adicional sobre o veículo.">Descrição</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" title="Ação">Ações</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var veiculo in Model)
            {
                <tr>
                    <td>@veiculo.Modelo</td>
                    <td>@veiculo.AnoFabricacao</td>
                    <td>@veiculo.Preco</td>
                    <td>@veiculo.FabricanteNome</td>
                    <td>@veiculo.TipoVeiculo.ToString()</td>
                    <td>@veiculo.Descricao</td>
                    <td>ação</td>
                </tr>
            }
            <tr>
                <td>Modelo B</td>
                <td>2021</td>
                <td>R$ 35.000,00</td>
                <td>2</td>
                <td>Sedan</td>
                <td>Descrição do Modelo B</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#tabelaVeiculo').DataTable({
            "paging": true,          // Habilita paginação
            "lengthChange": false,    // Habilita alteração de quantidade de itens por página
            "searching": true,       // Habilita barra de pesquisa
            "ordering": true,        // Habilita ordenação de colunas
            "info": true,            // Mostra informações como "Mostrando 1 a 10 de 50 entradas"
            "autoWidth": false,      // Desabilita ajuste automático de largura
            "responsive": true,      // Tabela responsiva
            "pageLength": 5,         // Itens por página padrão
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum registro encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "search": "Pesquisar:",
                
            },
            "columnDefs": [
                { "orderable": false, "targets": 3 } // Desabilita ordenação na coluna 4 (Website)
            ]
        });
    });
</script>