@model ConcessionariaApp.Application.Dtos.Autenticacao.RegistrarUsuarioDTO
@{
    ViewData["Title"] = "Registrar";
}

<div class="container d-flex justify-content-center align-items-center ">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="text-center mb-4">Registro de Usuário</h4>
                @if (ViewBag.Error is not null)
                {
                    <div class="col-12 mb-2">
                        <span class="text-danger">@ViewBag.Error</span>
                    </div>
                }
                <form asp-action="Registrar" method="post">
                    <div class="mb-1">
                        <label asp-for="Nome" class="form-label">Nome</label>
                        <input asp-for="Nome" class="form-control" placeholder="Digite seu nome" value="@Model.Nome" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="Sobrenome" class="form-label">Sobrenome</label>
                        <input asp-for="Sobrenome" class="form-control" placeholder="Digite seu sobrenome" value="@Model.Sobrenome" />
                        <span asp-validation-for="Sobrenome" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Digite seu email" value="@Model.Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="Senha" class="form-label">Senha</label>
                        <input asp-for="Senha" type="password" class="form-control" placeholder="Digite sua senha" value="@Model.Senha" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="SenhaConfirmacao" class="form-label">Confirmar Senha</label>
                        <input asp-for="SenhaConfirmacao" type="password" class="form-control" placeholder="Confirme sua senha" value="@Model.SenhaConfirmacao" />
                        <span asp-validation-for="SenhaConfirmacao" class="text-danger"></span>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <span>Já tem uma conta? <a asp-controller="Login" asp-action="Index">Entrar</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>